.chroma-text {
    background-image: linear-gradient(90deg,
            #000000 0,
            #000000 33.33%,
            #4E52F2 40%,
            #DD9DFF 45%,
            #E3A4A8 50%,
            #50C0FE 55%,
            #1E31FC 60%,
            transparent 66.67%,
            transparent);
    background-size: 300% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

/* Only animate when explicitly true */
.chroma-text[data-animate="true"] {
    animation: chroma-sweep 1.5s ease-in-out forwards;
    filter: blur(1px);
}

@keyframes chroma-sweep {
    0% {
        background-position: 100% 0;
        filter: blur(1px);
    }

    to {
        background-position: 0 0;
        filter: blur(0);
    }
}