[rtstic-marquee='wrapper'] {
    overflow: hidden;
}

[rtstic-marquee='list'] {
    display: flex;
    width: max-content;
    animation: scroll var(--duration) linear infinite;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

[rtstic-marquee='item'] {
    white-space: nowrap;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(var(--translate-end), 0, 0);
    }
}

[rtstic-marquee='wrapper']:hover [rtstic-marquee='list'] {
    animation-play-state: paused;
}